
    <div class="container">
      <div class="row">
        <aside class = "col-md-3">
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>
            My name is Sukhvinder currently enrolled in Computer Programmer.I am in my third Semester.
          </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Looking forward to seeing you soon.</p>
        </aside>
      </div>
    </div>

    